body{

    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: aliceblue;
}

form input,form textarea{
    width:100%;
    margin: 8px 0;
    padding: 10px;
}
button {
    padding: 10px 20px;
}

.output {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
}